<p>
  <a href="{% url 'pizzas:home' %}">Home</a>
  <br>
  <a href="{% url 'pizzas:pizzas' %}">Pizzas</a>
  <br>
  {% if user.is_authenticated %}
    Hello, {{ user.username }}. <a href="{% url 'users:logout' %}">Logout</a>
  {% else %}
    <a href="{% url 'users:register' %}">Register</a>
    <br>
    <a href="{% url 'users:login' %}">Login</a>
  {% endif %}
</p>

{% block content %}{% endblock content %}
