{% extends 'pizzas/base.html' %}
{% block content %}
  <p>Pizza: {{ pizza }}</p>
  <p>Toppings:</p>
  <ul>
    {% for topping in toppings %}
      <li>
        <p>{{ topping.name|linebreaks }}</p>
      </li>
    {% empty %}
      <li>
        There are no toppings for this pizza yet.
      </li>
    {% endfor %}
  </ul>
  <form name="create_order" method="post" action="{% url 'pizzas:order' pizza.id %}">
    {% csrf_token %}
    <input type="submit" value="Order" />
  </form>
{% endblock content %}
