{% extends "pizzas/base.html" %}
{% block content %}
<p>Pizzas</p>
  <ul>
    {% for pizza in pizzas %}
      <a href="{% url 'pizzas:pizza' pizza.id %}">{{ pizza }}</a>
    {% empty %}
      <li>No pizzas have been added yet.</li>
    {% endfor %}
  </ul>
{% endblock content %}
